PORT=5000
MONGO_URI=mongodb://localhost:27017/ecotrip
JWT_SECRET=mysecretkey123changeThis
ANTHROPIC_API_KEY=wmu1gE19ZduqbWrAaikr10iXhFmNkpsjS8SGRJbSYt7MEAqPgerhnP65gANecOKUtivHf4EfUwPVpC6q
NODE_ENV=development